<table
  mat-table
  #outerSort="matSort"
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
  matSort
>
  <ng-container
    matColumnDef="{{column}}"
    *ngFor="let column of columnsToDisplay"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
    >
      <div
        class="example-element-detail"
        *ngIf="element.addresses?.data.length"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
          <table
            #innerTables
            mat-table
            #innerSort="matSort"
            [dataSource]="element.addresses"
            matSort
            multiTemplateDataRows
          >
            <ng-container
              matColumnDef="{{innerColumn}}"
              *ngFor="let innerColumn of innerDisplayedColumns"
            >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ innerColumn }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element[innerColumn] }}
              </td>
            </ng-container>

            <!-- Expanded SubContent Column - The subdetail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedSubDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="innerDisplayedColumns.length"
              >

                <div
                  class="example-element-detail"
                  *ngIf="element?.blocks?.data.length"
                  [@detailExpand]="element == expandedSubElement ? 'expanded' : 'collapsed'"
                >

                  <div
                    class="inner-table mat-elevation-z8"
                    *ngIf="expandedSubElement"
                  >
                    <table
                      #subTables
                      mat-table
                      #subSort="matSort"
                      [dataSource]="element.blocks"
                      matSort
                    >
                      <ng-container
                        matColumnDef="{{innerColumn}}"
                        *ngFor="let innerColumn of subBlockDisplayedColumns"
                      >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          {{ innerColumn }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element[innerColumn] }}
                        </td>
                      </ng-container>
                      <tr
                        mat-header-row
                        *matHeaderRowDef="subBlockDisplayedColumns"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: subBlockDisplayedColumns;"
                      ></tr>
                    </table>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: innerDisplayedColumns;"
              (click)="toggleSubRow(row)"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedSubDetail']"
              class="example-detail-row"
            ></tr>
          </table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay;"
    [class.example-element-row]="element.addresses?.data.length"
    [class.example-expanded-row]="expandedElement === element"
    (click)="toggleRow(element)"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>